<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Semafor.Properties.Colors" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Semafor.Properties.Colors>
            <setting name="SuccessColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="WarningColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="DangerColor" serializeAs="String">
                <value>Crimson</value>
            </setting>
            <setting name="DefaultColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
        </Semafor.Properties.Colors>
    </userSettings>
</configuration>